{% extends 'base.html.twig' %}

{% block title %}{% trans %}boutique.rayon.titre{% endtrans %} {{ categorie.libelle }}{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h3>
                <a href="{{ path('app_boutique_index') }}" class="text-white text-decoration-none mr-2">
                    <i class="fas fa-arrow-circle-left"></i>
                </a>
                <i class="fas fa-store"></i>
                {% trans %}boutique.rayon.titre{% endtrans %} : {{ categorie.libelle }}
                <span class="badge badge-pill badge-info">{{ produits|length }}</span>
            </h3>
        </div>
        <div class="card-body row">
                {% for produit in produits %}
                    <div class="card clickable">
                        <a  href="{{ path('app_default_index', {idCategorie: categorie.id}) }}" class="text-decoration-none text-dark">
                            <div class="card h-100">
                                <img src="{{ asset(produit.visuel) }}" class="card-img-top" alt="{{ produit.libelle }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ produit.libelle }}</h5>
                                    <p class="card-text">{{ produit.texte }}</p>
                                    <a class="btn btn-primary font-weight-bold w-100">
                                        <i class="fas fa-cart-plus mr-2"></i>
                                        {{ produit.prix }} €
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p>{% trans %}boutique.rayon.vide{% endtrans %}</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}





